* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
    --text: #efeaae;
    --padding: 120px;
    --transitionSwiper: cubic-bezier(.4, 0, 0, 1);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

@font-face {
    font-family: assassin-st;
    src: url(../fonts/assassin.woff2);
    font-weight: 900;
}

@font-face {
    font-family: anirb;
    src: url(../fonts/anirb___.ttf);
}

@font-face {
    font-family: ring;
    src: url(../fonts/RingbearerMedium-51mgZ.ttf);
}

body {
    background-color: #010101;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.main-header {
    position: relative;
}

.main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}

.layers-base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}

.layers-middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers-front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer-header {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text);
    text-shadow: 0 0 15px #9d822b;
    margin-top: calc(var(--index) * -6.75);
}

.layers-image img {
    width: calc(var(--index) * 2);
    height: calc(var(--index) * 2);
}

.layers-title {
    font-size: calc(var(--index) * 2.65);
    letter-spacing: calc(var(--index) / 2.25);
}

.layers-caption {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);

}

.main-article {
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    top: -1px;
    z-index: 10;
}

.main-article__header {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    transform: var(--main-article-transform);
    transition: var(--transition);
    will-change: transform;
}

.main-article__paragraph {
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * .9);
    margin-top: calc(var(--index) / 1.25);
    transform: var(--main-article-transform);
    transition: var(--transition);
    will-change: transform;
}

.content {
    will-change: transform;
}

.copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: .45;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}

.video-content {
    position: relative;
    color: #f1f1f1;
    margin-top: calc(var(--index) * -23);
    align-items: center;
    text-align: justify;
    justify-content: space-around;
}

.video-col {
    text-align: center;

}

.video-col p {
    padding: 0 10px;
    text-align: justify;
}

.video-title {
    text-align: center;
}

.video-img {
    text-align: center;
    width: calc(var(--index) * 22);
    height: calc(var(--index) * 15);
}

.portfolio {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.descr {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding-top: 80px;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(90deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    top: 100%;
    font-size: 20px;
    font-family: raleway_f, sans-serif;
}

.video-col:hover .descr {
    opacity: 1;
    top: 0;
    transform: scale(1) rotate(0);
}

.portfolio span:hover {
    border: #9d822b 2px solid;
}

.api {
    background-image: url(../../_src/map.jpg);
    height: 100vh;
    color: var(--text);
    position: relative;
}

.api::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0 0 500px #000;
}

.api::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -65px;
    animation: k-light 3s ease-in-out infinite;
}

.showcase-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
}

.showcase-content-wrapper {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: var(--padding) 0;
}

.showcase-content-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/glow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: k-glow 1.6s ease-in-out infinite;
}

.showcase-header {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
    top: 40px;
    font-family: anirb, sans-serif;
    font-size: 32px;
    color: rgba(255, 255, 255, .75);
}

.showcase-header span {
    color: #9d822b;
}

.showcase-carousel .swiper-wrapper {
    transition: var(--transitionSwiper);
}

.showcase-carousel__item {
    position: relative;
    height: calc(100vh - var(--padding) * 2);
    text-align: center;
    opacity: .25;
    transform: scale(.75);
    transition: opacity 1.8s var(--transitionSwiper), transform 1.8s var(--transitionSwiper)
}

.showcase-carousel__item::after {
    content: '';
    width: 120px;
    height: 0;
    position: absolute;
    box-shadow: 0 0 45px 10px #010101;
    bottom: 5px;
    left: calc(50% - 60px);
}

.showcase-carousel__item p {
    bottom: -85px;
    width: 100%;
    font-family: anirb, sans-serif;
    font-size: 32px;
    color: rgba(255, 255, 255, .5);
    text-shadow: rgb(58 78 94) 0 0 10px;
}

.showcase-carousel__item.swiper-slide-active {
    opacity: .8;
    transform: scale(.98);
}

.showcase-carousel__image-wrapper > * {
    width: 100%;
    height: 100%;
    perspective: 150px;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
}

.showcase-carousel__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(var(--index) * 20) !important;
    height: calc(var(--index) * 20) !important;
    margin: 0 auto;
}


/* NAVIGATION */

.showcase-navigation {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.showcase-navigation > * {
    position: absolute;
    height: 100%;
    width: 50%;
    outline: none;
    cursor: pointer;
}

.showcase-navigation__next {
    right: 0;
}

.showcase-navigation > *::before {
    content: '?';
    font-family: anirb, sans-serif;
    opacity: 0;
    transition: opacity .75s ease-out;
    position: absolute;
    transform: rotate(-90deg);
    left: 50px;
    top: 50%;
    font-size: 45px;
}

.showcase-navigation > *:hover::before {
    opacity: .25;
}

.showcase-navigation__next::before {
    transform: rotate(90deg);
    right: 50px;
    left: auto;
}

.showcase-navigation > *.swiper-button-disabled {
    display: none;
}

/* ANIMATIONS */

@keyframes k-light {
    0% {
        opacity: .2;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: .2;
    }
}

@keyframes k-glow {
    0% {
        opacity: .6;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: .6;
    }
}

@keyframes k-left-side {
    0% {
        transform: rotateY(-1deg) scaleX(.92);
    }
    100% {
        transform: rotateY(0deg) scaleX(1);
    }
}

@keyframes k-right-side {
    0% {
        transform: rotateY(0deg) scaleX(1);
    }
    100% {
        transform: rotateY(1deg) scaleX(.92);
    }
}